<!DOCTYPE html>
<html>

   <head>
      <title>dboydgit | Free Code Camp | url Shortener Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <img src="https://cdn.glitch.com/6eb3885a-d266-4182-b2a8-c994a673354e%2FDBAvatar.png?1524461687604" alt="dboydgit-profile">
        <h1>dboydgit | Free Code Camp | url Shortener Microservice</h1>
        <h2>
          How to use
        </h2>
        <h3>Pass a url to "https://dbsurl.glitch.me/create" as a parameter, the service will return a JSON string object
          with a shortened url which will redirect to the provided address.</h3>
        <h2>
          Examples
        </h2>
        <h4>input: https://dbsurl.glitch.me/create/https://www.google.com</h4>
        <h4>output: {original_url: "https://dbsurl.glitch.me/create/https://www.google.com", 
        short_url: "https://dbsurl.glitch.me/1"}</h4>
        <h2>Usage</h2>
        <h4>"https://dbsurl.glitch.me/1" will now redirect to "https://www.google.com"</h4>
      </div>
   </body>
  
</html>
